In [1]:
import pandas as pd
import numpy as np

In [2]:
pd?

In [3]:
pd.__version__

'1.0.5'

In [4]:
np.random.rand
ser =pd.Series([0.25, 0.5, 0.75, 1.0])
print(ser)
print(type(ser),'\n')

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64
<class 'pandas.core.series.Series'>

In [5]:
arr = ser.values
print(arr)

ind =ser.index
print(ind)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)

In [6]:
ser = pd.Series([0.25, 0.5, 0.75, 1.0], index= ['a','b','c','d'])
print(ser)
ind = ser.index
print(ind)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
Index(['a', 'b', 'c', 'd'], dtype='object')

In [7]:
dict = {'a' : 1, 2 : 'two', 'third' : True}
print(dict)

{'a': 1, 2: 'two', 'third': True}

In [8]:
ser = pd.Series(dict)
print(ser)

a           1
2         two
third    True
dtype: object

In [10]:
population_dict = {'California': 38332521,
                   'Texas' : 26448193,
                   "New York": 19651127,
                   'Flordia' : 19552860,
                   'Illinois' : 12882135}

population = pd.Series(population_dict)
print(population)

print(population['Texas' : 'Illinois' ])

California    38332521
Texas         26448193
New York      19651127
Flordia       19552860
Illinois      12882135
dtype: int64
Texas       26448193
New York    19651127
Flordia     19552860
Illinois    12882135
dtype: int64

In [11]:
area_dict = {'California': 423967, 'Texas' : 695662,   'New York': 141297,
            'Flordia' : 170312, 'Illinois' : 149995}

area = pd.Series(area_dict)
print(area)

California    423967
Texas         695662
New York      141297
Flordia       170312
Illinois      149995
dtype: int64

In [14]:
states = pd.DataFrame({'population': population, 'area': area})
print(states)

print(states.index)
print(states.columns)
print(states['area'])

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Flordia       19552860  170312
Illinois      12882135  149995
Index(['California', 'Texas', 'New York', 'Flordia', 'Illinois'], dtype='object')
Index(['population', 'area'], dtype='object')
California    423967
Texas         695662
New York      141297
Flordia       170312
Illinois      149995
Name: area, dtype: int64

In [16]:
arr = np.random.rand(3,2)
print(arr, '\n')

pd.DataFrame(arr, columns=['foo', 'bar'], index= ['a','b','c'])

[[0.72425246 0.31987082]
 [0.29589103 0.86860898]
 [0.67510339 0.77681157]]

        foo       bar
a  0.724252  0.319871
b  0.295891  0.868609
c  0.675103  0.776812

In [18]:
ser = pd.Series([0.25, 0.5, 0.75, 1.0],
               index=['a', 'b', 'c', 'd'])

print(0.25 in ser)

print(ser.index)

False
Index(['a', 'b', 'c', 'd'], dtype='object')

In [20]:
ser['e'] = 1.25
ser['a'] = 0.125
print(ser, '\n')

print(ser['a':'c'], '\n')
print(ser[(ser> 0.3) & (ser <0.8)], '\n')

a    0.125
b    0.500
c    0.750
d    1.000
e    1.250
dtype: float64

a    0.125
b    0.500
c    0.750
dtype: float64

b    0.50
c    0.75
dtype: float64

In [25]:
states['density'] = states['population'] / states['area']

In [26]:
print(states)

states.loc['New York': 'Illinois']

            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746
Flordia       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

          population    area     density
New York    19651127  141297  139.076746
Flordia     19552860  170312  114.806121
Illinois    12882135  149995   85.883763

In [27]:
print(states.loc[states.density > 100, ['population', 'density']], '\n')

          population     density
New York    19651127  139.076746
Flordia     19552860  114.806121